[user]
	email = d.nonov@gmail.com
	name = Dimitar Nonov
[alias]
	a = add 
	d = diff
	aa = add -A
	s = status
	ci = commit
	ca = commit --amend
	cob = checkout -b
	co = checkout
	pom = push origin master
	phm = push heroku  master

